@{
    ViewBag.Title = "Home Page";
}
<form name="form1" method="post" enctype="multipart/form-data" action="api/uploadImage">
    <div>
        <label for="caption">Image Caption</label>
        <input name="caption" type="text"/>
    </div>
    <div>
        <label for="image1">Image File</label>
        <input id="FileUpload1" name="FileUpload1" type="file"/>
    </div>
    <div>
        <input type="submit" value="Submit"/>
    </div>
</form>
<script src="~/Scripts/jquery-1.10.2.min.js"></script>

<script src="~/Scripts/jquery.uploadify-v2.1.4/jquery.uploadify.v2.1.4.min.js"></script>
<script type="text/javascript">
    $(window).load(
        function () {
            $("#<%=FileUpload1.ClientID %>").fileUpload({
                'uploader': 'scripts/uploader.swf',
                'cancelImg': 'images/cancel.png',
                'buttonText': 'Browse Files',
                'script': 'Upload.ashx',
                'folder': 'uploads',
                'fileDesc': 'Image Files',
                'fileExt': '*.jpg;*.jpeg;*.gif;*.png',
                'multi': true,
                'auto': true
            });
        }
    );
</script>  